.container {
  display: flex;
  flex-direction: column-reverse;

  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 320px;

  @media screen and (min-width: 646px) {
    display: block;
    width: 646px;
  }
}
